/* ================================
    Base Element Styles
================================ */


* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border: 0;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

figure {
    font-family: 'Sansita Swashed', cursive;
}

li {
    list-style-type: none;
    margin-left: 0;
}

header {
    background-color: rgb(159, 241, 173);
    padding: 1em 2em 2em;
}

a{
    text-decoration: none;
}

h3 {
    font-weight: 500;
}

ul {
    padding: 0;
}


/* ================================
    Class Styles
================================ */

.portrait {
    margin: 15px auto;
}

.banner {
    background-color: rgb(159, 241, 173);
}

.intro {
    margin-top: 0;
}

.intro,
.contact-info {
    padding: 10px 5% 20px;
    font-size: 1.2em;
}

.main-nav a {
    color: rgb(159, 241, 173);
}

.main-nav li {
    background-color: rgb(22, 148, 5);
    margin-bottom: 5px;
    font-size: 1.5em;
    padding: 10px;
    font-weight: 600;
}

.main-footer {
    background: rgb(159, 241, 173);
    padding: 1em;
}

.bottom-nav {
    border-top: rgb(22, 148, 5) solid 3px;
}

.navbar {
    display: none;
}

.bottom-nav ul {
    float: right;
}

.bottom-nav p {
    float: left;
}

#skills li {
    font-weight: 600;
}

/* ----- Clearfix -------- */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
/* ================================
    Media queries
================================ */


@media (min-width: 768px) {
  
    figure {
        width: 40%;
        float: left;
        margin: 4%;
        min-height: 400px;
    }

    .portrait {
        float: right;
    }

    .intro {
        padding-top: 2em;
        text-align: left;
    }

    .main-nav li {
        display: inline-block;
        margin: 10px;
    }

    .totop {
        display: none;
    }

    .navbar {
        display: inline-block;
    }

    .bottom-nav a{
        color: rgb(22, 148, 5);
        font-size: 1.5em;
        margin-right: 15px;
    }

    .bottom-nav p {
        font-size: 1.3em;
        font-weight: 600;
    }


}

@media (min-width: 1024px) {

    .main-header {
        float: left;
    }

    .main-nav {
        float: right;
    }


    figure {
        width: 30%;
        margin: 1%;
    }

    .contact-info {
        width: 75%;
        margin:auto;
    }

    .intro,
    .contact-info {
        font-size: 1.5em;
    }


}